<link rel="stylesheet" type="text/css" href="forgot-password.component.scss" />

<div class="forgot-password-content">
    <mat-card>
      <mat-card-content>
        <h2>Forgot Password</h2>
        <p>Enter your email address to receive a password reset code.</p>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <mat-form-field class="full-width-input">
            <input
              matInput
              placeholder="User/Email"
              formControlName="userName"
              required
            />
            <mat-error *ngIf="isFieldInvalid('userName')">
              Please enter a valid email address
            </mat-error>
          </mat-form-field>
          <button mat-raised-button color="primary">Reset Password</button>
          Remember my password?<a class="btn btn-link" [routerLink]="['/login']"
              >Login</a
            ><br>
            Oh, I am not registered<a class="btn btn-link" routerLink="../registration">Register</a>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
  